<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <footer>
            <p>Created by Sophie Collins - Copyright &copy;{{getCurrentYear}}</p>
        </footer>
    </body>
</html>
