<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
        Help page
        </title>
    </head>
    <body>
        {{>header}}
      <p>Help page</p>
        {{>footer}}
    </body>
</html>
